body {
  background-color: #fff;
  font: normal 100% Helvetica, Arial, sans-serif; /* assume 100% equates to 16px */
}

canvas { 
  border: solid 0.1em black; 
}

form {
  margin: 1em 0;
}

h1 {
  font-size: 1.5em; /* 24px / 16px */
}

h2 {
  font-size: 1.25em; /* 20px / 16px */
}

label {
  display: block;
  margin-bottom: 0.125em; /* 2px / 16px */
}
